:root {
    --table: #deb778;
    --cup: #1d80c2;
    --cupinner: #46a8eb;
    --teatag: #c1ebc3;
    --teatagaccent: #45ac71;
    --notepad: #f17777;
}

.on {
    width: 720px;
    position: absolute;
    margin-left: -15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.table {
    height: 377px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--table);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: inset 0 -16px 0 0 rgba(114, 72, 34, 0.4);
}

.notebook {
    height: 522px;
    width: 457px;
    position: absolute;
    bottom: 84px;
    left: 652px;
}

.display {
    position: relative;
    height: 290px;
    width: 100%;
    background: linear-gradient(30deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
    border-radius: 10px;
    box-sizing: border-box;
    border: 25px solid #515555;
}

.keyboard {
    position: relative;
    height: 232px;
    width: 100%;
    background: #d7e2e6;
    border-radius: 10px;
    box-shadow:
        inset 0 -15px 0 0 #959fa0,
        -15px 0 0 0 rgba(172, 91, 20, 0.2);
}

.arrow::before,
.arrow::after {
    content: "";
    height: 12px;
    width: 36px;
    background: #ccc;
    position: absolute;
    border-radius: 6px;
    left: 21px;
}

.arrow::before {
    transform: rotate(40deg);
    transform-origin: right center;
    top: 44px;
}

.arrow::after {
    transform: rotate(-40deg);
    transform-origin: right center;
    top: 38px;
}

.cursor {
    height: 62px;
    width: 50px;
    border-radius: 6px;
    background: linear-gradient(30deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
    position: relative;
    top: 80px;
    left: 290px;
    background-position: 0px -3px;
    background-size: 220%;
    animation: blink 2s step-end infinite;
}

.note-text {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 100%;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    color: #fff;
    opacity: 0.9;
}


.key {
    height: 25px;
    width: 25px;
    background: #515555;
    border-radius: 8px;
    position: absolute;
}

.key:nth-child(1) {
    top: 22px;
    left: 61px;
}

.key:nth-child(2) {
    top: 22px;
    left: 92px;
}

.key:nth-child(3) {
    top: 22px;
    left: 123px;
}

.key:nth-child(4) {
    top: 22px;
    left: 154px;
}

.key:nth-child(5) {
    top: 22px;
    left: 185px;
}

.key:nth-child(6) {
    top: 22px;
    left: 216px;
}

.key:nth-child(7) {
    top: 22px;
    left: 247px;
}

.key:nth-child(8) {
    top: 22px;
    left: 278px;
}

.key:nth-child(9) {
    top: 22px;
    left: 308px;
}

.key:nth-child(10) {
    top: 22px;
    left: 339px;
}

.key:nth-child(11) {
    top: 22px;
    left: 370px;
}

.key:nth-child(12) {
    top: 56px;
    left: 58px;
    width: 59px;
}

.key:nth-child(13) {
    top: 56px;
    left: 123px;
}

.key:nth-child(14) {
    top: 56px;
    left: 154px;
}

.key:nth-child(15) {
    top: 56px;
    left: 185px;
}

.key:nth-child(16) {
    top: 56px;
    left: 216px;
}

.key:nth-child(17) {
    top: 56px;
    left: 247px;
}

.key:nth-child(18) {
    top: 56px;
    left: 278px;
}

.key:nth-child(19) {
    top: 56px;
    left: 308px;
}

.key:nth-child(20) {
    top: 56px;
    left: 339px;
    width: 60px;
}

.key:nth-child(21) {
    top: 90px;
    left: 58px;
    width: 42px;
}

.key:nth-child(22) {
    top: 90px;
    left: 105px;
    width: 41px;
}

.key:nth-child(23) {
    top: 90px;
    left: 151px;
    width: 155px;
}

.key:nth-child(24) {
    top: 90px;
    left: 311px;
    width: 42px;
}

.key:nth-child(25) {
    top: 90px;
    left: 358px;
    width: 41px;
}

.trackpad {
    height: 60px;
    width: 124px;
    border-radius: 6px;
    background: #c2cdcf;
    position: absolute;
    top: 134px;
    left: 167px;
}

.cup {
    height: 155px;
    width: 131px;
    position: absolute;
    bottom: 269px;
    left: -325px;
    background: var(--cup);

    border-top-left-radius: 50% 34%;
    border-top-right-radius: 50% 34%;

    border-bottom-left-radius: 45% 67%;
    border-bottom-right-radius: 45% 67%;
}

.cupshadow {
    height: 56px;
    width: 100px;
    background: rgba(172, 91, 20, 0.2);

    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;

    position: absolute;
    bottom: 265px;
    left: -327px;
}

.top {
    height: 97px;
    width: 131px;
    background: #8f6739;
    border-radius: 50%;
    box-sizing: border-box;
    border: 12px solid var(--cupinner);
    box-shadow: inset 0 50px 0 -20px #6b4b28;
    position: absolute;
}

.handle {
    height: 66px;
    width: 60px;
    background: transparent;
    box-sizing: border-box;
    border: 16px solid var(--cup);

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 80% 60%;

    position: absolute;
    top: 60px;
    left: -31px;
}

.teatag {
    height: 36px;
    width: 32px;
    position: absolute;
    top: 103px;
    left: -20px;
    background: var(--teatag);
    box-shadow: inset 0 -6px 0 0 var(--teatagaccent);
}

.teatag::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    border-style: solid;
    border-width: 0 16px 8px 16px;
    border-color: transparent transparent var(--teatag) transparent;
}

.teabagcord {
    height: 57px;
    width: 60px;
    position: absolute;
    top: 57px;
    left: -7px;
    box-sizing: border-box;
    border: 6px solid #fff5e6;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    clip: rect(0px, 44px, 41px, 0px);
}

.teabagcordbeginingandend {
    position: absolute;
    top: 57px;
    left: -7px;
}

.teabagcordbeginingandend::before,
.teabagcordbeginingandend::after {
    content: "";
    background: #fff5e6;
    border-radius: 50%;
    position: absolute;
}

.teabagcordbeginingandend::before {
    top: 3.1px;
    left: 40px;
    height: 7.1px;
    width: 6.6px;
    clip: rect(0px, 6.6px, 7px, 3.8px);
}

.teabagcordbeginingandend::after {
    top: 38px;
    left: 0px;
    height: 6px;
    width: 6px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes book-bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shelf-lift {
    0% {
        transform: translateY(0) rotate(0);
    }

    20% {
        transform: translateY(-4px) rotate(10deg);
    }

    40% {
        transform: translateY(-4px) rotate(0);
    }

    40% {
        transform: translateY(-4px) rotate(-10deg);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.book-shelf {
    width: 250px;
    height: auto;
}

.book-shelf:hover {
    cursor: pointer;
}

.book-shelf:hover .book-shelf__book {
    animation: book-bounce 0.4s ease;
    animation-iteration-count: 1;
}

.book-shelf:hover .book-shelf__book--two {
    animation-delay: 0.04s;
}

.book-shelf:hover .book-shelf__book--three {
    animation-delay: 0.08s;
}

.book-shelf:hover .book-shelf__shelf {
    animation: shelf-lift 0.4s ease;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.flipbook {
    width: 700px;
    height: 350px;
    position: absolute;
    left: -105px;
    bottom: 75px;
    user-select: none;
}

.flipbook .hard {
    background: #f3e5c0 !important;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    border: none;
}

.flipbook .hard img {
    width: 350px;
    height: 400px;
    user-select: none;
}


.flipbook .page {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.flipbook .page h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.flipbook .page p {
    justify-content: center;
    padding: 10px;
    text-align: center;
    padding-left: 35px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 27px;
}


.review-card {
    border-radius: 12px;
    padding: 24px;
    width: 250px;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 28px;
    height: 28px;
    background: var(--avt);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 12px;
}

.details {
    flex-grow: 1;
}

.details h3 {
    margin: 0;
    font-size: 15px;
}

.stars {
    font-size: 15px;
    color: #ffd43b;
}

.review-text {
    margin: 0 !important;
    margin-top: 1px !important;
    padding: 0 !important;
    font-size: 13px !important;
    line-height: 1.3 !important;
}

.container {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
    padding: 0;
    padding-right: 65px;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating>input {
    display: none;
}

.rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.emoji>svg {
    margin: 15px 0;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
    transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
    transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
    transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
    transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
    transform: translateY(-500px);
}

.feedback {
    max-width: 360px;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}